{% extends "base.html" %}
{% block title %}
Список курсов
{% endblock %}
{% block style %}{% endblock %}
{% block header %}
    <div id="menubar">
        <ul id="menu">
            <li class="selected"><a href="/">Home</a></li>
            <!--          <li><a href="examples.html">Examples</a></li>-->
            <!--          <li><a href="page.html">A Page</a></li>-->
            <li><a href="/study-programs/">Study programs</a></li>
            <li><a href="/contact/">Contact Us</a></li>
        </ul>
    </div>
{% endblock %}
{% block body %}
    <a href="/">to main</a>

    <h1>Categories</h1>
    <ul>

        {% for item in objects_list %}
        <li>
            {{item.name}} <span>Number of Courses: {{item.course_count()}}</span>
        </li>
        {% endfor %}
    </ul>

    <div>
        <li><a href="/courses-list/">Courses list</a></li>
        <li><a href="/create-course/">Create a course</a></li>
    </div>
{% endblock %}