{% extends "base.html" %}
{% block title %}
Создание студента
{% endblock %}
{% block style %}{% endblock %}
{% block header %}
    <div id="menubar">
        <ul id="menu">
            <li class="selected"><a href="/">Home</a></li>
            <!--          <li><a href="examples.html">Examples</a></li>-->
            <!--          <li><a href="page.html">A Page</a></li>-->
            <li><a href="/study-programs/">Study programs</a></li>
            <li><a href="/contact/">Contact Us</a></li>
        </ul>
    </div>
{% endblock %}
{% block body %}
    <div>
        <ul>
            <li>
                <a href="/student-list/">Student list</a>
            </li>
        </ul>

    </div>
    <br>
    <br>
    <div>
        <h1>Create a student</h1>
        <form method="post">
            <input type="text" name="name" placeholder="Student name">
            <button class="submit" type="submit">Save</button>
        </form>
    </div>
{% endblock %}