{% extends "base.html" %}
{% block title %}
Создание курса
{% endblock %}
{% block style %}{% endblock %}
{% block header %}
    <div id="menubar">
        <ul id="menu">
            <li class="selected"><a href="/">Home</a></li>
            <!--          <li><a href="examples.html">Examples</a></li>-->
            <!--          <li><a href="page.html">A Page</a></li>-->
            <li><a href="/study-programs/">Study programs</a></li>
            <li><a href="/contact/">Contact Us</a></li>
        </ul>
    </div>
{% endblock %}
{% block body %}
    <div>
        <a href="/courses-list/?id={{id}}">back</a>
    </div>

    <br>
    <br>

    <div>
        <h1>Create course for category "{{name}}"</h1>
        <form method="post">
            <input type="text" name="name" placeholder="Course name">
            <button class="submit" type="submit">Save and back to list of courses</button>
        </form>
    </div>
{% endblock %}