<div id="content">
    <div>
        <h1>Categories</h1>
        <div>
            <a href="/create-category/">Create new category</a>
        </div>
        <br>
        {% if objects_list %}
            <ul>
                {% for item in objects_list %}
                <li>
                    <h4>{{item.name}}</h4>
                    <h5>Number of Courses: {{item.course_count()}} <a href="/courses-list/?id={{item.id}}">Show courses</a></h5>
                </li>
                {% endfor %}
            </ul>
        {% else %}
           There is no any courses categories yet
        {% endif %}
    </div>
</div>