{% extends "base.html" %}
{% block title %}
	Our study programs
{% endblock %}
{% block style %}{% endblock %}
{% block header %}
    <div id="menubar">
        <ul id="menu">
            <li><a href="/">Home</a></li>
            <!--          <li><a href="examples.html">Examples</a></li>-->
            <!--          <li><a href="page.html">A Page</a></li>-->
            <li class="selected"><a href="/study-programs/">Study programs</a></li>
            <li><a href="/contact/">Contact Us</a></li>
        </ul>
    </div>
{% endblock %}
{% block body %}
	{% include "inc-study-programs-body.html" %}
{% endblock %}